.cards-body {
    margin: 0;
    padding: 0;
    background-image: url('../../public/bg_cards-min.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    overflow: hidden;
}

.spec {
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
}

.cards-desc {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(118, 109, 109);
}

.cards-card {
    margin-bottom: 70px;
    width: 270px;
    height: 430px;
    background: #3a3737;
    border-radius: 25px;
    border: 2px solid #000;
    box-sizing: border-box;
    position: absolute;
    backdrop-filter: blur(10px);
 }

 .cards-card p {
    color: rgb(255, 255, 255);
 }
 
 .cards-img {
    margin-top: 5px;
    width: 240px;
    height: 240px;
    opacity: 0.9;
    border: 2px solid #000;
    box-sizing: border-box;
    object-fit: cover;
    border-radius: 20px;
    pointer-events: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
 }
 